# Folder
.cache
.vscode
bakcup/
build/
managed_components/
backup/
espressif__*/
chmorgan__esp-libhelix-mp3/
joltwallet__littlefs/

# File
dependencies.lock
sdkconfig
sdkconfig.old

# Components
arduino-esp32/
